{% extends "base_generic.html" %}

{% block content %}
<h1>{{ blogpost.title }}</h1>

<p><strong>Post date</strong> {{ blogpost.post_date }}</p>
<p><strong>Author:</strong> <a href="{{ blogpost.author.get_absolute_url }}">{{ blogpost.author }}</a></p>
<p><strong>Description:</strong></p>
<p>{{ blogpost.description|linebreaks }}</p>

<div style="margin-left:20px;margin-top:20px">
	<h4>Comments</h4>
	{% if blogpost.comment_set %}
		{% for comment in blogpost.comment_set.all %}
			<hr />
			<p>
				{{ comment.author }} ({{ comment.post_date }}) {{ comment.description|linebreaks }}
			</p>
		{% endfor %}
	{% else %}
		There are no comments.
	{% endif %}
	<hr />
</div>

{% endblock %}
